#li-background-1{
    background-image: url('../images/img_bg_1.jpg') ;
}

#li-background-2 {
    background-image: url('../images/img_bg_2.jpg');
}
#li-background-3 {
    background-image: url('../images/img_bg_3.jpg');
}

#men-a{
    background-image: url('../images/men.jpg');
}
#women-a{
    background-image: url('../images/women.jpg');
}





#men-background{
    background-image: url('../images/cover-img-1.jpg');
}